<div class="wrapper d-flex">
	<div class="sidebar">
    <div id="title-section">
    <h1 id="title">Human Resources</h1>
    <small id="subtitle">by Company S.R.L.</small>
  </div>
    <br>
		<small class="text-muted pl-3">Menu</small>
		<ul>
			<li><a class="nav-link" routerLink="/home" routerLinkActive="text-primary">Home</a></li>
      <li><a class="nav-link" routerLink="/my-time-off" routerLinkActive="text-primary">My time off</a></li>
      <li><a class="nav-linkt" routerLink="/about-time-off" routerLinkActive="text-primary">About time off</a></li>
		</ul>
		<small class="text-muted px-3">My team</small>
		<ul>
			<li><a class="nav-link" routerLink="/team-time-off" routerLinkActive="text-primary">Team time off</a></li>
		</ul>
    <small class="text-muted px-3">Account</small>
    <ul>
      <li class="nav-item"><a class="nav-link light-text" routerLink="/login" routerLinkActive="text-primary" *ngIf="!isLoggedInVar">Login</a></li>
      <li class="nav-item"><a class="nav-link light-text" routerLink="/login" *ngIf="isLoggedInVar" (click)="LogOut()">Logout</a></li>
    </ul>
	</div>
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</div>