<h1>Welcome!</h1>
<div class="container-fluid center">
  <!-- Pills navs -->
  
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="loginName">Username</label>
            <input type="text" id="loginName" class="form-control"
             [(ngModel)]="emailAddress" name="emailAddress" placeholder="example: admin@company.com"/>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password</label>
            <input type="password" id="loginPassword" class="form-control"
            [(ngModel)]="password" name="password" placeholder="example: password"/>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" id="signInButton"
        (click)="ProceedLogin()">Sign in</button>
  
      </form>
    </div>
  </div>
</div>